<h1><%= @article.title %></h1>
<p>
	<% @article.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p><%= @article.body %></p>
<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url(:medium) %>	
	<% end %>
</p>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "Edit", edit_article_path(@article) %>

<h2>Comments (<%= @article.comments.size %>)</h2>
<%= render partial: 'articles/comment', collection: @article.comments, as: :item %>